.fz_54 {
    font-size: 54px; 
    span {
        font-size: 54px;
    }
    a {
        font-size: 54px;
    }
}
.fz_22 {
    font-size: 22px; 
    span {
        font-size: 22px;
    }
    a {
        font-size: 22px;
    }
}
.fz_17 {
    font-size: 17px; 
    span {
        font-size: 17px;
    }
    a {
        font-size: 17px;
    }
}